<div class="prose flex-col max-w-none flex w-full">
  <h1>New Template</h1>

  <h3>Use {{placeholder}} where you want the email body to be inserted</h3>

  <%= form_with model: @template do |f| %>
    <div class="mb-6">
      <%= f.label "Template name", class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.text_field :name, {class: "bg-sky-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"} %>
    </div>
    <div class="mb-6">
      <%= f.label "Template body", class: "block mb-2 text-sm font-medium text-gray-900" %>
      <%= f.text_field :body, {class: "bg-sky-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"} %>
    </div>
    <div class="no-underline text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"><%= f.submit :create %></div>
  <% end %>
</div>